
<h1>Edit article</h1>


<%# For section that based on the id update the text and or title in the model %>
<%= form_with(model: @article, local: true) do |form| %>



  <%#  ERROR HANDLING SECTION %>

  <% if @article.errors.any? %> <%# This checks to see if there are any errors present %>
    <div id="error_explanation">
      <h2>
        <%# This gets the number of erros and tels the user how many of them are preventing from saving %>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <%# This will print the full error message that appears for each one %>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%# Input section for articles %>

  <%# Title input section %>
  <p>
    <%= form.label :title %><br>  <%# As in normal html the label must match the id its set to in this case the title %>
    <%= form.text_field :title %> <%# The actual input feild that the user will use %>
  </p>

  <p>
    <%= form.label :text %><br> <%# As in normal html the label must match the id its set to in this case text %>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>  <%# Submits the form %>
  </p>

<% end %>

<%# Back button link to all of the articles %>
<%= link_to 'Back', articles_path %>