<h1>All Article</h1>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <%= link_to 'New article', new_article_path %>


  <%# This section iterates over each of the articles in the database and give the title and the text %>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td> <%# this pulls the articles title from the database %>
      <td><%= article.text %></td>  <%# this pulls the aticles text from the path %>
      <td><%= link_to 'Show', article_path(article) %></td> <%# Leads to the show route for each resource %>
      <td><%= link_to 'Edit', edit_article_path(article) %></td> <%# leads to the edit route for each sopecific resouce %>
    </tr>
  <% end %>

  <%#  End section to iterate over each %>
</table>